name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update nightly && rustup default nightly
      - name: Install `rustfmt`
        run: rustup component add rustfmt
      - name: Check source code formatting
        run: cargo --locked fmt -- --check

  sort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update stable
      - name: Install `cargo-sort`
        run: cargo install cargo-sort
      - name: Check for sorted `Cargo.toml`
        run: cargo --locked sort -w --check

  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update stable && rustup default stable
      - name: Install `clippy`
        run: rustup component add clippy
      - name: Check source code for lints
        run: cargo --locked clippy --all-features -- --deny warnings

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update stable && rustup default stable
      - name: Run tests
        run: cargo --locked test --workspace --all-features --no-fail-fast

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update stable && rustup default stable
      - run: cargo --locked doc

  udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update nightly && rustup default nightly
      - name: Install `cargo-udeps`
        run: cargo --locked install cargo-udeps
      - name: Ensure no unused dependencies
        run: cargo --locked udeps
